/*--HEADER--*/
.header {
  width: 100%;
  height: 800px;
  text-align: center;
  left: 0;
  top: 0;
  /* parralax effect */
  background: url("../images/main6.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

@media(max-width: 640px) {
  .header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    // height: 800px;
    text-align: center;
    left: 0;
    top: 0;
    background: url("../images/main6.jpg") no-repeat center;
    background-size: cover;
    // background-attachment: fixed;
  }
  .company_logo {
    // visibility: hidden;
  }
}

.head {
  padding: 1em 0;
  background: $header_menu_background;
  position: relative;
}

/*Sticky menu*/
.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;

  .company_logo {
    // visibility: hidden;
  }
}

.navbar-top {
  float: left;
  //width: 70%;
}

.company_logo {
  width: 150px;
  height: 63px;
  margin-left: 80px;
}

.banner {
  // margin-top: 11em;
  h2 {
    font-size: 4em;
    color: $header_font_color;
    -webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
    -moz-transform: rotate(-45deg) translate3d(0, 0, 0);
    -ms-transform: rotate(-45deg) translate3d(0, 0, 0);
    -o-transform: rotate(-45deg) translate3d(0, 0, 0);
    transform: rotate(-45deg) translate3d(0, 0, 0);
    display: block;
    line-height: 1.4em;
    width: 100px;
    height: 100px;
  }

  p {
    font-size: 0.9em;
    color: $header_font_color;
    line-height: 2em;
    width: 50%;
    margin: 0 auto;
  }

  span {
    display: block;
    margin: 5em 0;
  }
}

.header1 {
  height: 92px;
}

.banner-text {
  border: 2px solid $header_font_color;
  display: inline-block;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
  -moz-transform: rotate(45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(45deg) translate3d(0, 0, 0);
  -o-transform: rotate(45deg) translate3d(0, 0, 0);
  transform: rotate(45deg) translate3d(0, 0, 0);
}

.banner-t {
  text-align: center;
  margin: 6em auto;
  width: 20%;
  position: relative;

  b {
    width: 100%;
    height: 2px;
    display: block;
    background: $header_font_color_accent;
    margin-bottom: 3px;

    .lin {
      width: 80%;
      margin: 0 auto;
    }
  }

  span {
    width: 40px;
    height: 40px;
    display: block;
    background: rgb(35, 39, 42);
    position: absolute;
    top: -7px;
    left: 45%;

    i {
      width: 20px;
      height: 20px;
      display: block;
      border: 2px solid $header_font_color_accent;
      -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
      -moz-transform: rotate(45deg) translate3d(0, 0, 0);
      -ms-transform: rotate(45deg) translate3d(0, 0, 0);
      -o-transform: rotate(45deg) translate3d(0, 0, 0);
      transform: rotate(45deg) translate3d(0, 0, 0);
      margin-left: 0.7em;
    }
  }
}

.logo {
  h1 {
    font-size: 1.8em;
    font-family: 'Montserrat', sans-serif;

    a {
      text-decoration: none;
      color: $header_font_color;

      span {
        width: 40px;
        height: 40px;
        display: inline-block;
        border: 2px solid $header_font_color;
        -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
        -moz-transform: rotate(45deg) translate3d(0, 0, 0);
        -ms-transform: rotate(45deg) translate3d(0, 0, 0);
        -o-transform: rotate(45deg) translate3d(0, 0, 0);
        transform: rotate(45deg) translate3d(0, 0, 0);
        margin-right: 12px;
      }

      b {
        width: 40px;
        height: 40px;
        display: inline-block;
        -webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
        -moz-transform: rotate(-45deg) translate3d(0, 0, 0);
        -ms-transform: rotate(-45deg) translate3d(0, 0, 0);
        -o-transform: rotate(-45deg) translate3d(0, 0, 0);
        transform: rotate(-45deg) translate3d(0, 0, 0);
        line-height: 1.1em;
        text-align: center;
      }

      i {
        display: block;
        font-style: normal;
        margin-left: 3em;
        font-size: 19px;
      }
    }
  }
}

.navbar-brand {
  height: auto;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
}

.navbar-nav {
  float: right;
  margin-top: 1.45em;
}

.header-left {
  float: right;
  margin-top: 1.4em;
}

.header-left {
  ul {
    li {
      display: inline-block;
      font-size: 14px;
      color: $header_font_color;
      margin: 0 1em;
    }
  }
}

.link-effect-4 {
  a {
    padding: 0 10px;
    margin: 0 20px;
    text-shadow: none;
    position: relative;
  }

  a::before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 0;
    max-height: 0;
    color: $header_font_color_accent;
    content: attr(data-hover);
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }

  a:hover::before {
    max-height: 110%;
    color: $header_font_color_accent;
  }
}

.header-left ul li a {
  text-decoration: none;
  color: $header_font_color;
}

.header-left ul li a:hover {
  color: $header_font_color_accent;
}

.header-left ul li i {
  left: -.5em;
}

.navbar-default {
  border: none;
  background: none;
  min-height: auto;
  margin-bottom: 0;
}

div#bs-example-navbar-collapse-1 {
  padding: 0;
}

ul.nav.navbar-nav li a {
  font-size: 1.1em;
  color: $header_font_color;
  margin: 0 15px;
  padding: 0;
}

.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background: none !important;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: $header_font_color;
}

ul.nav.navbar-nav li.active a {
  color: $header_font_color_accent;
  background: none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: $header_font_color;
  background: none;
}

@media(max-width: 770px) {
  .company_logo {
    // visibility: hidden;
    // right:0;
  }

  .navbar-toggle {
    // float: left;
    border: none;
  }

  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border: none;
  }

  ul.nav.navbar-nav li a {
    margin: 7px 0;
    display: inline-block;
    text-align: center;
    width: auto;
    margin-left: 10px;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
  }

  .navbar-toggle .icon-bar {
    width: 27px;
    height: 3px;
  }

  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }

  .navbar-top {
    width: 47%;
    margin: 0;
  }

  .navbar-nav {
    margin: 7.5px 0;
  }

  .navbar-nav {
    width: 100%;
  }
  /*----*/
  div#bs-example-navbar-collapse-1 {
    // background: #000;
    background: rgba(255, 255, 255, 0.34);
    margin: 0;
    padding: 0;
    position: absolute;
    width: 87%;
    z-index: 999;
  }

  ul.nav.navbar-right {
    text-align: center;
  }

  .navbar-right .dropdown-menu {
    min-width: 100%;
    position: relative;
    text-align: center;
  }

  .navbar-toggle .icon-bar {
    background: $accent_color;
  }

  .navbar-toggle {
    margin: 18px 0 0;
    background: none;
  }

  .navbar-nav > li > a {
    width: 25%;
    text-align: center;
    margin: 5px auto;
  }

  div#bs-example-navbar-collapse-1 {
    width: 95.2%;
    margin-top: 1em;
  }
}

@media(max-width: 630px) {
  .header-left {
    li {
      visibility: hidden;
    }
  }
}

// Mobile menu - temporarily disabled

@media(max-width: 330px) {
  .head {
    visibility: hidden;
    .company_logo {
      visibility: hidden;
    }
  }
}

// Mobile menu - end

.job {
  color: $accent_color_2;
  font-size: 30px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-decoration: underline;
}

@media(max-width: 1000px) {
  .job {
    visibility: hidden;
  }
}