/* HEADER */
/* ABOUT US */
/* PROJECTS */
/* TEAM */
/*CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--col-grid--*/
.col-grid-left {
  background-color: #eee;
  padding: 5em;
}

.col-grid-right {
  padding: 0;
}

.col-grid h3 {
  font-size: 2.5em;
  color: orange;
}

.col-grid h5 {
  font-size: 1.7em;
  line-height: 1.3em;
  margin: 0.8em 0 0;
  color: #000;
  font-weight: 100;
  font-family: 'Muli', sans-serif;
}

.col-grid p {
  font-size: 0.9em;
  margin: 1em 0;
  line-height: 2em;
  color: #999;
}

.col-grid-1 {
  padding: 0;
}

.col-1-bottom,
.col-1-top {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.col-1-bottom img,
.col-1-top img {
  display: block;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.col-1-top {
  position: relative;
}

.col-1-bottom {
  top: 0;
  left: 0;
  position: absolute;
}

.col-1-bottom .info-text {
  display: block;
  position: relative;
  padding: 2em;
  float: left;
  left: 50%;
  top: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.col-1 {
  display: block;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  -webkit-transform-style: preserve3d;
  -moz-transform-style: preserve3d;
  -ms-transform-style: preserve3d;
  -o-transform-style: preserve3d;
  transform-style: preserve3d;
}

.col-1 .col-1-top {
  z-index: 1;
}

.col-1 .col-1-bottom {
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  filter: alpha(opacity=0);
  -wekbit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}

.col-1.bottom .col-1-bottom {
  -webkit-transform: translateY(100%) rotateX(-90deg);
  -moz-transform: translateY(100%) rotateX(-90deg);
  -ms-transform: translateY(100%) rotateX(-90deg);
  -o-transform: translateY(100%) rotateX(-90deg);
  transform: translateY(100%) rotateX(-90deg);
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
}

.col-1:hover .col-1-bottom {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  filter: alpha(opacity=100);
  -wekbit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: translateX(0) rotateY(0);
  -moz-transform: translateX(0) rotateY(0);
  -ms-transform: translateX(0) rotateY(0);
  -o-transform: translateX(0) rotateY(0);
  transform: translateX(0) rotateY(0);
}

@media (max-width: 1440px) {
  .col-grid h3 {
    font-size: 2.3em;
  }
  .col-grid-left {
    padding: 3.75em;
  }
}

@media (max-width: 1366px) {
  .col-grid h5 {
    font-size: 1.5em;
  }
  .col-grid-left {
    padding: 1.9em;
  }
}

@media (max-width: 1280px) {
  .wel h2 {
    font-size: 2.8em;
  }
}

@media (max-width: 1024px) {
  .navbar-top {
    width: 67%;
  }
  .ser-grid {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  .ser-grid1 h3 {
    font-size: 1.1em;
  }
  .team-top1 {
    width: 150px;
    height: 150px;
  }
  .team-top1 img {
    width: 150px;
    height: 150px;
  }
  .ser-grid1 {
    top: 8%;
    left: 4%;
  }
  .ser-grid1 p {
    font-size: 0.7em;
  }
  .col-grid h3 {
    font-size: 1.8em;
  }
  .col-grid h5 {
    font-size: 1.2em;
  }
  .info-text p {
    font-size: 0.75em;
  }
  .col-1-bottom .info-text {
    padding: 1em;
  }
  .zoom-icon1 {
    margin: 2.1em 0 0 1em;
  }
  .social-ic li a {
    margin: 0 0.1em;
  }
  .test-top3 h6 {
    margin-top: 0.5em;
  }
  .news-letter input[type="text"] {
    width: 42%;
  }
  .map iframe {
    min-height: 350px;
  }
  .footer-bottom h4,
  .footer-bottom1 h4 {
    font-size: 2em;
  }
  .service {
    padding: 5em 0 6em;
  }
  .ser-top {
    margin-bottom: 6em;
  }
  .team {
    padding: 5em 0 6em;
  }
  .test {
    padding: 5em 0;
  }
  figcaption {
    padding: 3.8em 1em;
  }
  figcaption h3 {
    font-size: 1.8em;
  }
  figcaption p {
    font-size: 0.8em;
  }
  .gallery {
    padding: 5em 0;
  }
  .wel h2 {
    font-size: 2.5em;
  }
  .content-about {
    padding: 5em 0;
  }
  .contact {
    padding: 5em 0;
  }
  .header {
    height: 750px;
  }
  .header1 {
    height: 92px;
  }
  .banner {
    margin-top: 10em;
  }
  /*--typo--*/
  h1.grid2 {
    font-size: 2.3em;
  }
  .product-right {
    padding-left: 25px;
  }
  li.resp-tab-item.bath1 {
    background: url("../images/blueprint.png") no-repeat 0 20px;
    background-size: 12% !important;
  }
  li.resp-tab-item.bath2 {
    background: url("../images/compass.png") no-repeat 0 20px;
    background-size: 12% !important;
  }
  li.resp-tab-item.bath3 {
    background: url("../images/eco-house.png") no-repeat 0 20px;
    background-size: 12% !important;
  }
  li.resp-tab-item.bath4 {
    background: url("../images/crane2.png") no-repeat 0 20px;
    background-size: 12% !important;
  }
}

@media (max-width: 991px) {
  ul.nav.navbar-nav li a {
    margin: 0 5px;
    font-size: 0.9em;
  }
  .logo h1 {
    font-size: 1.5em;
  }
  .logo h1 a span {
    width: 35px;
    height: 35px;
  }
  .navbar-nav {
    margin-top: 1.5em;
    width: 62%;
  }
  .header-left {
    margin-top: 1.2em;
  }
  .header-left ul li {
    margin: 0 0.3em;
  }
  .navbar-top {
    width: 65%;
  }
  .header {
    height: 650px;
  }
  .header1 {
    height: 87px;
  }
  .banner {
    margin-top: 8em;
  }
  .banner span {
    margin: 4em 0 3em;
  }
  .ser-t {
    width: 30%;
  }
  .ser-head {
    width: 50%;
    margin-bottom: 2em;
  }
  .col-grid-1 {
    width: 50%;
    float: left;
  }
  .team-top {
    width: 50%;
    margin-top: 2em;
  }
  .service {
    padding: 4em 0 5em;
  }
  .team {
    padding: 4em 0 6em;
  }
  .test {
    padding: 4em 0;
  }
  .test-top1 {
    width: 50%;
    margin: 0 auto 1em;
  }
  .test-top3 {
    padding: 1em;
  }
  .test-top3 h6 {
    margin-top: 0.8em;
  }
  .news-letter input[type="text"] {
    width: 40%;
  }
  .ser-top {
    margin-bottom: 4em;
  }
  .news-letter {
    padding: 4em 0;
  }
  .team-top1 {
    margin: 0 auto;
  }
  .zoom-icon1 h5 {
    font-size: 1.5em;
  }
  .footer {
    padding: 4em 0;
  }
  .footer-bottom1 {
    margin-top: 2em;
  }
  .map iframe {
    min-height: 300px;
  }
  .news-letter {
    padding: 3em 0;
  }
  .wel h2 {
    font-size: 2.2em;
  }
  .content-about {
    padding: 4em 0;
  }
  .gallery {
    padding: 4em 0;
  }
  .gal-gd-sec {
    width: 50%;
    float: left;
    padding: 0 0.2em;
  }
  .gal-gd {
    margin: 0.4em 0;
    width: 33.33%;
    float: left;
    padding: 0 0.2em;
  }
  figcaption h3 {
    font-size: 1.5em;
  }
  figcaption p {
    margin-top: 10px;
  }
  figcaption {
    padding: 3.3em 1em;
  }
  .col-left span {
    font-size: 4em;
  }
  .col-us,
  .us-col {
    margin-bottom: 1em;
  }
  .contact {
    padding: 4em 0;
  }
  .contact-form1 {
    padding: 0;
    margin-bottom: 1em;
  }
  .contact-grids1 input[type="submit"] {
    margin: 0.5em 0 0;
  }
  .contact-grid {
    margin-top: 1em;
  }
  .contact-grids {
    margin: 3em 0 0;
  }
  .contact form {
    margin-top: 4em;
  }
  .col-1-bottom img,
  .col-1-top img {
    width: 100%;
  }
  /*--typo--*/
  h1.grid2 {
    font-size: 2.3em;
  }
  .short-top h3 {
    top: 47%;
  }
}

@media (max-width: 768px) {
  .product-right {
    float: none;
    margin-left: 260px;
  }
  .banner p {
    width: 75%;
  }
  .banner {
    margin-top: 4.5em;
  }
  .header {
    height: 500px;
  }
  .header1 {
    height: 129px;
  }
  .ser-top h3 {
    font-size: 2.5em;
  }
  .service {
    padding: 3em 0 4em;
  }
  .ser-head {
    width: 47%;
  }
  .test-top1 {
    width: 75%;
  }
  .test {
    padding: 3em 0;
  }
  .test-top-g {
    margin-bottom: 3em;
  }
  .news-letter input[type="text"] {
    width: 39%;
  }
  .footer {
    padding: 3em 0;
  }
  .test-top-g h3 {
    font-size: 2.5em;
  }
  .team {
    padding: 3em 0 5em;
  }
  .content-about {
    padding: 3em 0;
  }
  .gallery {
    padding: 3em 0;
  }
  figcaption h3 {
    font-size: 1.2em;
  }
  figcaption {
    padding: 2.5em 1em;
  }
  .contact h2 {
    font-size: 2.5em;
  }
  .contact form {
    margin-top: 3em;
  }
  .contact {
    padding: 3em 0;
  }
  .gallery h2 {
    font-size: 2.5em;
  }
  figcaption.gal-text {
    padding: 1.6em 1em;
  }
  /*--typo--*/
  button.btn.btn-lg {
    font-size: 1.1em;
  }
  h1.grid2 {
    font-size: 2em;
  }
  h2.grid2 {
    font-size: 1.9em;
  }
  .b-wrapper1.long-img {
    padding-top: 16em;
  }
  td.add-check a {
    width: 106px;
  }
  .heart li a {
    margin: 0 0.3em;
  }
  .page-header h3 {
    font-size: 2.5em;
  }
}

@media (max-width: 600px) {
  .navbar-top {
    width: 100%;
    float: none;
  }
  .header-left {
    float: none;
    text-align: center;
  }
  .banner-text {
    width: 70px;
    height: 70px;
  }
  .banner h2 {
    font-size: 3em;
    line-height: 1.3em;
    width: 70px;
    height: 70px;
  }
  .banner span {
    margin: 3em 0 2em;
  }
  .ser-head {
    width: 46%;
  }
  .ser-top h3 {
    font-size: 2.3em;
  }
  .ser-t {
    width: 45%;
  }
  .team-top {
    width: 47%;
    margin-top: 3em;
  }
  .test-top-g h3 {
    font-size: 2.2em;
  }
  .test-top1 {
    width: 95%;
  }
  .team {
    padding: 2.5em 0 4em;
  }
  .col-grid h3 {
    font-size: 1.6em;
  }
  .news-letter input[type="text"] {
    width: 100%;
    margin: 0 0 1em;
  }
  .footer-bottom h4,
  .footer-bottom1 h4 {
    font-size: 1.5em;
  }
  .footer-bottom p {
    font-size: 1.2em;
    width: 100%;
  }
  .contact h2 {
    font-size: 2em;
  }
  .contact {
    padding: 2em 0;
  }
  .contact-me textarea {
    min-height: 203px;
  }
  .gal-gd-sec {
    width: 100%;
    float: left;
    padding: 0;
  }
  .gal-gd {
    margin: 0.4em 0;
    width: 100%;
    float: left;
    padding: 0;
  }
  .gal-gd img {
    width: 100%;
  }
  .gallery h2 {
    font-size: 2em;
  }
  .gal-btm {
    margin-top: 3em;
  }
  figcaption h3 {
    font-size: 2em;
  }
  figcaption {
    padding: 4em 1em;
  }
  div#bs-example-navbar-collapse-1 {
    width: 93.2%;
  }
  /*--typo--*/
  .page-header h3 {
    font-size: 2em;
  }
  button.btn.btn-lg {
    font-size: 1em;
    padding: 7px;
  }
  button.btn.btn-1 {
    font-size: 0.9em;
    padding: 8px;
  }
  button.btn.btn-sm {
    font-size: 0.8em;
    padding: 9px;
  }
  h1#h1-bootstrap-heading {
    font-size: 2.2em;
  }
  h2#h2-bootstrap-heading {
    font-size: 2em;
  }
  h1.grid2 {
    font-size: 1.45em;
  }
  h2.grid2 {
    font-size: 1.35em;
  }
  h3.grid2 {
    font-size: 1.3em;
  }
  h4.grid2 {
    font-size: 1.2em;
  }
  .media-1 {
    padding-left: 0;
  }
}

@media (max-width: 414px) {
  .logo h1 {
    font-size: 1.2em;
  }
  .logo h1 a span {
    width: 32px;
    height: 32px;
  }
  .banner h2 {
    font-size: 2.5em;
    line-height: 1em;
    width: 50px;
    height: 50px;
  }
  .banner-text {
    width: 50px;
    height: 50px;
  }
  .banner span {
    margin: 2em 0 1em;
  }
  .banner p {
    width: 100%;
    line-height: 1.8em;
    font-size: 0.8em;
  }
  .header {
    height: 376px;
  }
  .header1 {
    height: 125px;
  }
  .banner {
    margin-top: 2em;
  }
  .ser-head {
    width: 95%;
    float: none;
    margin: 0 auto;
  }
  .ser-grid {
    width: 127px;
    height: 127px;
    margin: 0 auto 2em;
  }
  .test-top2 {
    padding: 1em;
  }
  .ser-grid1 i {
    font-size: 1.7em;
  }
  .ser-grid1 h3 {
    font-size: 1em;
  }
  .ser-grid1 p {
    font-size: 0.69em;
  }
  .ser-top h3 {
    font-size: 2em;
  }
  .ser-t {
    width: 65%;
  }
  .news-letter input[type="text"] {
    padding: 8px 10px;
  }
  .news-letter input[type="submit"] {
    padding: 8px 20px;
  }
  .news-letter {
    padding: 2em 0;
  }
  .footer-bottom {
    padding: 0;
  }
  .footer-bottom h4,
  .footer-bottom1 h4 {
    font-size: 1.3em;
  }
  .footer-bottom p {
    font-size: 1em;
  }
  .team-top {
    width: 100%;
    margin-top: 3em;
  }
  .footer-bottom1 {
    margin-top: 1.4em;
    padding: 0;
  }
  .col-grid-left {
    padding: 1em;
  }
  .social li a i {
    width: 40px;
    height: 40px;
    background: url(../images/img-spr.png) no-repeat 7px 4px;
    background-size: 225px;
  }
  .social li a {
    width: 40px;
    height: 40px;
  }
  .social li a i.icon {
    background: url(../images/img-spr.png) no-repeat -39px 4px;
    background-size: 225px;
  }
  .social li a i.icon1 {
    background: url(../images/img-spr.png) no-repeat -146px 4px;
    background-size: 225px;
  }
  .social li a i.icon2 {
    background: url(../images/img-spr.png) no-repeat -145px 4px;
    background-size: 225px;
  }
  .footer {
    padding: 2em 0;
  }
  .map iframe {
    min-height: 200px;
  }
  p.footer-grid {
    font-size: 0.9em;
    padding: 0 1em;
  }
  .test-top1 {
    width: 100%;
    padding: 0;
  }
  .test {
    padding: 2em 0;
  }
  .col-grid h3 {
    font-size: 1.1em;
  }
  .us-grid {
    padding: 0;
  }
  .col-us,
  .us-col {
    margin-bottom: 1em;
    padding: 0;
  }
  .ser-top {
    margin-bottom: 3em;
  }
  .content-about {
    padding: 2em 0;
  }
  .gallery {
    padding: 2em 0;
  }
  figcaption h3 {
    font-size: 1.5em;
  }
  figcaption {
    padding: 1.2em 1em;
  }
  figcaption.gal-text {
    padding: 4em 1em;
  }
  .col-grid-1 {
    width: 100%;
  }
  div#bs-example-navbar-collapse-1 {
    width: 91.2%;
  }
  /*--typo--*/
  h1#h1-bootstrap-heading {
    font-size: 1.6em;
  }
  h2#h2-bootstrap-heading {
    font-size: 1.5em;
  }
  h3#h3-bootstrap-heading {
    font-size: 1.4em;
  }
  button.btn.btn-lg {
    font-size: 0.9em;
    margin: 0 0 0.5em;
    padding: 9px;
  }
  .grid1 {
    margin: 0.7em 0 0;
  }
  button.btn.btn-1 {
    font-size: 0.8em;
    margin: 0 0 0.5em;
  }
  button.btn.btn-sm {
    font-size: 0.7em;
    padding: 5px;
    margin: 0 0 0.5em;
  }
  button.btn.btn-xs {
    font-size: 0.7em;
  }
  ul.nav.nav-pills a {
    padding: 0.5em;
    font-size: 0.9em;
  }
  span.label {
    margin: 0 0 0.5em;
    display: inline-block;
  }
  .page {
    padding: 3em 0 1em;
  }
  .page-header {
    margin: 16px 0 9px;
  }
  .grid2 {
    margin: 0.4em 0 0;
  }
  .bs-example {
    padding: 1em 0 0;
  }
  .page-header h3 {
    font-size: 1.6em;
  }
  td.add-check a {
    width: 86px;
  }
}

/*-- responsive media queries --*/
@media (max-width: 1280px) {
  .callbacks_nav {
    height: 64px;
    width: 61px;
  }
}

@media (max-width: 1080px) {
  .logo.grid img {
    width: 100%;
  }
  .navbar-header {
    float: left;
    width: 17%;
  }
  .navbar-nav {
    margin-top: 26px;
  }
  .nav-wil li a {
    font-size: 1.1em;
  }
  .nav-wil li {
    margin: 0 0px 0 16px;
  }
  .search {
    margin: 19px 0px 0 0;
  }
  .bottom-gds {
    padding: 0 10px;
  }
  .bott-img .icon-holder {
    padding: 12px 10px;
  }
  .bott-img .icon-holder .glyphicon {
    top: 3px;
    left: -1px;
  }
  .bott-img {
    height: 181px;
  }
  .creative h4 {
    font-size: 20px;
  }
  .creative {
    min-height: 391px;
  }
  .product-right p {
    font-size: 13px;
  }
  .product-left {
    padding: 0;
  }
  .bott-img:hover .description, .list-gds p {
    font-size: 13px;
  }
  li.resp-tab-item.bath1 {
    background: url(../images/blueprint.png) no-repeat 0px 16px;
  }
  li.resp-tab-item.bath2 {
    background: url(../images/compass.png) no-repeat 0px 17px;
  }
  li.resp-tab-item.bath3 {
    background: url(../images/eco-house.png) no-repeat 0px 16px;
  }
  li.resp-tab-item.bath4 {
    background: url(../images/crane2.png) no-repeat 0px 18px;
  }
  li.resp-tab-item.bath5 {
    background: url(../images/light.png) no-repeat 0px 16px;
  }
  .team_info {
    top: 37%;
  }
  .item-info {
    padding-top: 36px;
  }
  .item, .item-hover, .item-hover .mask, .item-img, .item-info {
    height: 206px;
  }
  .callbacks_nav {
    height: 64px;
    width: 51px;
  }
  .mail_right textarea {
    height: 107px;
  }
  .callbacks_nav.next {
    left: 92%;
  }
}

@media (max-width: 1024px) {
  .banner-info {
    margin: 9em auto 0;
    padding: 26px 37px 43px;
  }
  .banner-info h3 {
    font-size: 44px;
  }
  .banner-info p {
    font-size: 15px;
  }
  .callbacks_nav {
    top: 54%;
  }
  .banner1, .banner2 {
    min-height: 473px;
  }
  .banner-bottom {
    padding: 65px 0 40px;
  }
  h3.title {
    font-size: 27px;
    text-transform: uppercase;
  }
  h3.title span:after {
    width: 153px;
  }
  h3.title span {
    width: 6%;
  }
  .creative p {
    font-size: 16px;
  }
  .services, .services-list, .team, .gallery, .footer {
    padding: 65px 0;
  }
  .product-right h4 {
    font-size: 20px;
  }
  .resp-tab-item {
    padding: 18px 20px;
    font-size: 14px;
  }
  li.resp-tab-item.bath1 {
    background: url(../images/blueprint.png) no-repeat 0px 11px;
  }
  li.resp-tab-item.bath2 {
    background: url(../images/compass.png) no-repeat 0px 11px;
  }
  li.resp-tab-item.bath3 {
    background: url(../images/eco-house.png) no-repeat 0px 12px;
  }
  li.resp-tab-item.bath4 {
    background: url(../images/crane2.png) no-repeat 0px 11px;
  }
  li.resp-tab-item.bath5 {
    background: url(../images/light.png) no-repeat 0px 11px;
  }
  .list-gds {
    padding: 38px 10px;
  }
  .list-gds h4 {
    font-size: 23px;
    margin: 18px 0 16px;
  }
  .team_gd1 {
    padding: 0 8px;
  }
  .team_info {
    top: 40%;
  }
  .item-type-double .item-info .date {
    font-size: 25px;
  }
  .map_left h3 {
    font-size: 27px;
  }
  .map-pos {
    padding: 65px 0 25px;
  }
  .add_left span {
    margin-bottom: 39px;
  }
  .contact iframe {
    height: 488px;
  }
  .add_left ul li, .copy_right p {
    font-size: 13px;
  }
  .footer_top ul li {
    font-size: 17px;
  }
}

@media (max-width: 991px) {
  .nav-wil li {
    margin: 0 0px 0 6px;
  }
  .nav-wil li {
    margin: 0 0px 0 6px;
  }
  .navbar-nav {
    margin-top: 21px;
  }
  .search {
    width: 18%;
  }
  .search form input[type="submit"] {
    background: url(../images/search.png) no-repeat 9px 9px;
    width: 34px;
    height: 32px;
  }
  .search input[type="search"] {
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 13px;
    color: #C2c2c2;
    width: 72%;
  }
  .search {
    margin: 12px 0px 0 0;
  }
  .banner-info h3 {
    font-size: 35px;
  }
  .banner-info p {
    margin-top: 15px;
    font-size: 13px;
  }
  .hvr-bubble-float-top {
    font-size: 13px;
    padding: 8px 17px;
  }
  .about_right {
    padding: 0 10px;
    margin-top: 35px;
  }
  .recharge-left, .recharge-right {
    float: none;
    width: 100%;
  }
  .resp-tab-item {
    display: inline-block;
    border: none;
    border-bottom: 2px solid #6F6F6F;
  }
  .resp-tab-active, .resp-tab-item:hover {
    border: none;
    border-bottom: 2px solid orange;
  }
  .resp-tab-item {
    padding: 18px 12px 23px 56px;
    margin: 0 11px;
  }
  .bott-img .icon-holder .glyphicon {
    left: 0px;
  }
  .product-left {
    float: left;
    width: 35%;
  }
  .recharge-right {
    margin-top: 3em;
  }
  .product-right {
    float: left;
    width: 65%;
  }
  .list-gds {
    float: left;
    width: 50%;
  }
  .list-gds:nth-child(2), .list-gds:nth-child(4) {
    border: none;
    border-left: 1px solid orange;
    border-bottom: 1px solid orange;
  }
  .list-gds:nth-child(3) {
    border-top: 1px solid orange;
  }
  .list-gds:nth-child(6) {
    border: none;
  }
  .list-gds:nth-child(5) {
    border: none;
    border-right: 1px solid orange;
    border-top: 1px solid orange;
  }
  .team_gd1 {
    padding: 0 8px;
    float: left;
    width: 25%;
  }
  .team_info a i.fc2 {
    background: url(../images/social2.png) no-repeat -3px -3px #55acee;
    width: 37px;
    height: 37px;
  }
  .team_info a i.fc1 {
    background: url(../images/social2.png) no-repeat -45px -4px #3b5998;
    width: 37px;
    height: 37px;
  }
  .team_info a i.fc3 {
    background: url(../images/social2.png) no-repeat -84px -3px #dc4e41;
    width: 37px;
    height: 37px;
  }
  .filtr-item {
    padding: 30px 10px 0;
    width: 33.333%;
    float: left;
  }
  .item-type-double .item-info .line {
    margin: 9px auto;
  }
  .item-info {
    padding-top: 27px;
  }
  .item-type-double .item-info .headline {
    font-size: 13px;
  }
  .item, .item-hover, .item-hover .mask, .item-img, .item-info {
    height: 160px;
  }
  .map_left, .map_right {
    padding: 0;
    float: left;
  }
  .map_left {
    width: 33%;
  }
  .map_right {
    width: 66%;
  }
  .add_left ul {
    padding-top: 13px;
  }
  .contact iframe {
    height: 451px;
  }
  .mail_left {
    float: left;
    width: 42%;
    padding: 0;
  }
  .mail_right {
    float: left;
    width: 58%;
    padding: 0 0 0 22px;
  }
  .mail_right input[type="text"], .mail_right input[type="email"], .mail_right textarea {
    padding: 9px 8px;
    margin-bottom: 26px;
    font-size: 13px;
  }
  .mail_right textarea {
    height: 86px;
  }
  .footer_top ul li {
    font-size: 14px;
  }
  .footer_top img {
    width: 20%;
  }
  .modal-dialog {
    width: 482px;
    margin: 45px auto 0;
  }
  .login-do {
    margin-top: 29px;
  }
}

@media (max-width: 768px) {
  .banner-info {
    margin: 6em auto 0;
    padding: 23px 28px 43px;
    width: 65%;
  }
  .callbacks_nav {
    top: 43%;
  }
  .banner1, .banner2 {
    min-height: 352px;
  }
  .footer_top ul {
    margin: 34px 0 28px;
    padding-bottom: 16px;
  }
  .fb_icons2 {
    margin-top: 24px;
  }
  .mail_us {
    margin-bottom: 54px;
  }
  .navbar-nav {
    margin: 7.5px 0px;
  }
  .callbacks_nav {
    top: 60%;
  }
  .navbar-nav {
    margin: 17.5px 0px 0;
  }
  li.resp-tab-item.bath1 {
    background: url("../images/blueprint.png") no-repeat 0 20px;
    background-size: 6% !important;
  }
  li.resp-tab-item.bath2 {
    background: url("../images/compass.png") no-repeat 0 20px;
    background-size: 6% !important;
  }
  li.resp-tab-item.bath3 {
    background: url("../images/eco-house.png") no-repeat 0 20px;
    background-size: 6% !important;
  }
  li.resp-tab-item.bath4 {
    background: url("../images/crane2.png") no-repeat 0 20px;
    background-size: 6% !important;
  }
}

@media (max-width: 767px) {
  .navbar-header {
    float: none !important;
    width: initial !important;
  }
  .logo.grid img {
    width: 21%;
  }
  .nav-wil li {
    margin: 17px 0px;
    display: block;
    text-align: center;
  }
  .nav > li > a {
    display: inline-block;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
  }
  .navbar-toggle {
    margin-top: 16px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-toggle {
    border: none;
    background-color: orange;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #F2593A;
  }
  .search {
    width: 40%;
    float: none;
    margin: 0 auto;
  }
  .search input[type="search"] {
    width: 86%;
  }
  .bottom-gds {
    padding: 0 10px;
    float: left;
    width: 50%;
  }
  .recharge-left, .recharge-right {
    float: none;
    width: 100%;
    padding: 0;
  }
  .item, .item-hover, .item-hover .mask, .item-img, .item-info {
    height: 152px;
  }
  .filtr-item {
    padding: 20px 10px 0;
  }
  .callbacks_nav {
    top: 59%;
  }
  .add_left {
    padding: 0;
    float: left;
    width: 33.333%;
  }
  .mail_right input[type="text"], .mail_right input[type="email"], .mail_right textarea {
    padding: 7px 8px;
  }
  .contact iframe {
    height: 403px;
  }
}

@media (max-width: 667px) {
  .callbacks_nav.next {
    left: 89%;
  }
  .resp-tab-item {
    padding: 18px 12px 20px 44px;
    margin: 0 10px;
  }
  .product-right p {
    line-height: 2em;
    margin-top: 9px;
  }
  .team_gd1 {
    padding: 0 15px;
    float: left;
    width: 50%;
  }
  .team_gd1:nth-child(3), .team_gd1:nth-child(4) {
    margin-top: 30px;
  }
  .team_info {
    top: 44%;
  }
  .filtr-item {
    padding: 8px 4px 0;
  }
  ul.simplefilter {
    margin-bottom: 2em !important;
  }
  .item, .item-hover, .item-hover .mask, .item-img, .item-info {
    height: 144px;
  }
  .mail_right textarea {
    height: 80px;
  }
  .mail_right {
    float: left;
    width: 51%;
    padding: 0 0 0 15px;
  }
  .mail_left {
    float: left;
    width: 46%;
    padding: 0;
  }
}

@media (max-width: 640px) {
  .footer_top ul li {
    margin: 0 12px;
  }
  .mail_left {
    float: left;
    width: 48%;
    padding: 0;
  }
  .map-pos {
    padding: 30px 0 25px;
  }
  .item-type-double .item-info .date {
    font-size: 18px;
  }
  .item, .item-hover, .item-hover .mask, .item-img, .item-info {
    height: 138px;
  }
  .simplefilter li, .multifilter li, .sortandshuffle li {
    padding: 9px 18px !important;
    font-size: 13px !important;
  }
  .resp-tab-item {
    margin: 0 7px;
  }
  .search {
    width: 44%;
  }
}

@media (max-width: 600px) {
  .logo.grid img {
    width: 25%;
  }
  h3.title {
    font-size: 23px;
  }
  h3.title span {
    width: 12%;
  }
  .creative {
    min-height: 367px;
    padding: 46px 35px 0;
  }
  .resp-tab-item {
    padding: 18px 12px 20px 37px;
  }
  .product-right h4 {
    font-size: 16px;
  }
  .item-info {
    padding-top: 22px;
  }
  .item, .item-hover, .item-hover .mask, .item-img, .item-info {
    height: 128px;
  }
  .contact iframe {
    height: 367px;
  }
}

@media (max-width: 568px) {
  .search {
    width: 48%;
  }
  .resp-tab-item {
    font-size: 13px;
  }
  .resp-tab-item {
    margin: 0 5px;
  }
  .product-left {
    float: left;
    width: 100%;
    text-align: center;
  }
  .product-right {
    float: left;
    width: 100%;
    padding: 0;
    margin: 30px 0 0;
  }
  .list-gds {
    padding: 27px 4px;
  }
  .list-gds h4 {
    font-size: 19px;
  }
  .list-gds span {
    font-size: 26px;
  }
  .simplefilter li, .multifilter li, .sortandshuffle li {
    padding: 6px 12px !important;
  }
  .filtr-item {
    width: 50%;
    float: left;
  }
  .item-info {
    padding-top: 43px;
  }
  .item, .item-hover, .item-hover .mask, .item-img, .item-info {
    height: 184px;
  }
  .mail_left {
    float: left;
    width: 100%;
    padding: 0;
  }
  .mail_left img {
    width: 57%;
  }
  .mail_right {
    float: left;
    width: 100%;
    padding: 0;
    margin-top: 35px;
  }
  .footer_top img {
    width: 25%;
  }
}

@media (max-width: 480px) {
  .logo.grid img {
    width: 28%;
  }
  .search {
    width: 58%;
  }
  .banner-info h3 {
    font-size: 28px;
  }
  .banner-info {
    margin: 4em auto 0;
    padding: 23px 12px 43px;
    width: 71%;
  }
  .callbacks_nav {
    height: 49px;
    width: 33px;
  }
  .callbacks_nav.next {
    background: transparent url("../images/arrows1.png") no-repeat -30px -2px;
  }
  .banner1, .banner2 {
    min-height: 293px;
  }
  .banner-bottom {
    padding: 39px 0 18px;
  }
  .creative h4 {
    font-size: 17px;
  }
  .resp-tab-item {
    padding: 50px 16px 8px 16px;
  }
  li.resp-tab-item.bath3 {
    background: url(../images/eco-house.png) no-repeat 31px 12px;
  }
  li.resp-tab-item.bath2 {
    background: url(../images/compass.png) no-repeat 15px 11px;
  }
  li.resp-tab-item.bath1 {
    background: url(../images/blueprint.png) no-repeat 15px 11px;
  }
  li.resp-tab-item.bath4 {
    background: url(../images/crane2.png) no-repeat 15px 11px;
  }
  li.resp-tab-item.bath5 {
    background: url(../images/light.png) no-repeat 18px 11px;
  }
  .services, .services-list, .team, .gallery, .footer {
    padding: 39px 0;
  }
  .sap_tabs, .adt_grids, .services-gds, .gallery_gds {
    margin-top: 32px;
  }
  .list-gds {
    float: left;
    width: 100%;
  }
  .list-gds:nth-child(2), .list-gds:nth-child(4) {
    border: none;
    border-top: 1px solid orange;
  }
  .list-gds:nth-child(5) {
    border: none;
    border-bottom: 1px solid orange;
    border-top: 1px solid orange;
  }
  .team_info {
    top: 38%;
  }
  .simplefilter li, .multifilter li, .sortandshuffle li {
    padding: 3px 6px !important;
  }
  .item-info {
    padding-top: 31px;
  }
  .item, .item-hover, .item-hover .mask, .item-img, .item-info {
    height: 152px;
  }
  .map_left h3 {
    font-size: 23px;
  }
  .map_left span {
    width: 34%;
    margin-top: 22px;
  }
  .map_right {
    width: 100%;
    margin-top: 35px;
  }
  .contact iframe {
    height: 495px;
  }
  .footer_top ul li {
    margin: 0 8px;
  }
  .mail_us {
    margin-bottom: 34px;
  }
  .modal-dialog {
    width: 397px;
  }
}

@media (max-width: 414px) {
  .navbar-toggle {
    margin-top: 7px;
  }
  .logo.grid img {
    width: 30%;
  }
  .banner-info {
    width: 82%;
  }
  .creative {
    padding: 33px 20px 0;
    min-height: 342px;
  }
  .creative h4 {
    font-size: 16px;
  }
  .resp-tab-item {
    padding: 50px 9px 8px 9px;
  }
  li.resp-tab-item.bath1 {
    background: url(../images/blueprint.png) no-repeat 8px 11px;
  }
  li.resp-tab-item.bath2 {
    background: url(../images/compass.png) no-repeat 7px 11px;
  }
  li.resp-tab-item.bath3 {
    background: url(../images/eco-house.png) no-repeat 26px 12px;
  }
  li.resp-tab-item.bath4 {
    background: url(../images/crane2.png) no-repeat 10px 11px;
  }
  li.resp-tab-item.bath5 {
    background: url(../images/light.png) no-repeat 13px 11px;
  }
  .team_gd1 {
    padding: 0 8px;
  }
  .team_info {
    top: 37%;
  }
  .search input[type="search"] {
    width: 82%;
  }
  .simplefilter li, .multifilter li, .sortandshuffle li {
    margin: 0 0.1em !important;
  }
  .simplefilter li, .multifilter li, .sortandshuffle li {
    padding: 3px 4px !important;
  }
  .item, .item-hover, .item-hover .mask, .item-img, .item-info {
    height: 127px;
  }
  .item-info {
    padding-top: 23px;
  }
  .mail_left img {
    width: 68%;
  }
  .footer_top img {
    width: 29%;
  }
  .footer_top ul li {
    font-size: 12px;
  }
  .modal-dialog {
    width: 340px;
  }
  .login ul li {
    font-size: 13px;
    padding: 4px 14px;
  }
}

@media (max-width: 384px) {
  .header_right {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 17px;
  }
  .header_left {
    float: right;
    width: 100%;
    text-align: center;
  }
  .bott-img .description {
    width: 100%;
  }
  .creative p {
    font-size: 13px;
  }
  .creative h4 {
    font-size: 14px;
  }
  .resp-tab-item {
    margin: 0 2px;
  }
  .simplefilter li, .multifilter li, .sortandshuffle li {
    letter-spacing: 0 !important;
  }
  .filtr-item {
    width: 100% !important;
    float: none !important;
    margin: 0 auto 0 !important;
  }
  .bott-img .mission {
    font-size: 18px;
  }
  .bott-img {
    height: 160px;
  }
  .bott-img .icon-holder {
    top: 43px;
  }
  .bott-img .icon-holder {
    margin-bottom: 36px;
  }
  .bott-img:hover .mission {
    top: -5px;
  }
  .item, .item-hover, .item-hover .mask, .item-img, .item-info {
    height: 240px;
  }
  .item-info {
    padding-top: 64px;
  }
  .add_left span {
    margin-bottom: 25px;
  }
  .add_left {
    padding: 0;
    float: left;
    width: 100%;
  }
  .map-pos {
    background: #f7f7f7;
  }
  .add_left {
    padding: 0;
    float: none;
    width: 58%;
    margin: 0 auto;
  }
  .add_left:nth-child(2) {
    margin: 20px auto;
  }
  .contact iframe {
    height: 710px;
  }
  .mail_left img {
    width: 100%;
  }
  .footer_top ul li {
    margin: 0 5px;
  }
  .modal-dialog {
    width: 298px;
  }
  .login-bottom {
    padding: 1em 0em;
  }
}

@media (max-width: 375px) {
  .resp-tab-item {
    margin: 0 1px;
  }
  .team_info a {
    margin-left: 1px;
  }
  .item, .item-hover, .item-hover .mask, .item-img, .item-info {
    height: 233px;
  }
}

@media (max-width: 320px) {
  .logo.grid img {
    width: 38%;
  }
  .banner-info h3 {
    font-size: 24px;
  }
  .banner-info p {
    margin-top: 8px;
  }
  .bottom-gds {
    padding: 0 0px;
    float: left;
    width: 100%;
  }
  .bottom-gds:nth-child(2) {
    margin-top: 30px;
  }
  .about_right {
    padding: 0 0px;
    margin-top: 35px;
  }
  .search {
    width: 81%;
  }
  .banner-info p {
    line-height: 1.8em;
  }
  .banner-info {
    margin: 3em auto 0;
  }
  .banner1, .banner2 {
    min-height: 264px;
  }
  .creative {
    padding: 21px 15px 0;
    min-height: 326px;
  }
  .resp-tab-item {
    margin: 0 12px;
  }
  .resp-tabs-list {
    text-align: center;
  }
  li.resp-tab-item.bath4, li.resp-tab-item.bath5 {
    margin-top: 20px;
  }
  .creative h4 {
    font-size: 16px;
    line-height: 1.8em;
  }
  .progress {
    margin-bottom: 16px;
  }
  .creative h4 {
    margin-bottom: 14px;
  }
  .product-right h4 {
    font-size: 15px;
  }
  .team_gd1 {
    padding: 0 0px;
    float: none;
    width: 78%;
    margin: 0 auto;
  }
  .team_info {
    top: 42%;
  }
  .team_gd1:nth-child(3), .team_gd1:nth-child(4), .team_gd1:nth-child(2) {
    margin-top: 30px;
  }
  .simplefilter li, .multifilter li, .sortandshuffle li {
    padding: 5px 14px !important;
    margin: 0 5px 17px !important;
  }
  ul.simplefilter {
    margin-bottom: 0em !important;
  }
  .item-info {
    padding-top: 55px;
  }
  .item, .item-hover, .item-hover .mask, .item-img, .item-info {
    height: 192px;
  }
  .product-left img {
    width: 100%;
  }
  .filtr-item {
    padding: 25px 0px 0 !important;
  }
  .item, .item-hover, .item-hover .mask, .item-img, .item-info {
    height: 199px;
  }
  .add_left {
    width: 82%;
  }
  .footer_top img {
    width: 34%;
  }
  .mail_right input[type="submit"] {
    padding: 7px 20px;
  }
  .footer_top ul li {
    margin: 0 8px;
    font-size: 13px;
  }
  .footer_top ul {
    margin: 18px 0 21px;
    padding-bottom: 13px;
  }
  .resp-tab-item {
    margin: 0 0px;
  }
  .resp-tab-item {
    padding: 38px 7px 8px 7px;
  }
  .resp-tab-item {
    font-size: 12px;
  }
  li.resp-tab-item.bath3 {
    background: url(../images/eco-house.png) no-repeat 21px 0px;
    background-size: 40% !important;
  }
  li.resp-tab-item.bath1 {
    background: url(../images/blueprint.png) no-repeat 8px 3px;
    background-size: 63% !important;
  }
  li.resp-tab-item.bath2 {
    background: url(../images/compass.png) no-repeat 8px 2px;
    background-size: 62% !important;
  }
  li.resp-tab-item.bath4 {
    background: url(../images/crane2.png) no-repeat 11px 3px;
    background-size: 55% !important;
  }
  li.resp-tab-item.bath5 {
    background: url(../images/light.png) no-repeat 10px 3px;
    background-size: 53% !important;
  }
}

.content-about {
  padding: 6em 0;
}

/*--icons--*/
.heat {
  background: url("../images/heater.png") no-repeat center;
}

.faucet {
  background: url("../images/faucet.png") no-repeat center;
}

.crane {
  background: url("../images/crane.png") no-repeat center;
}

.road {
  background: url("../images/road.png") no-repeat center;
}

.pipe-valve {
  background: url("../images/pipe-valve.png") no-repeat center;
}

.air-conditioner {
  background: url("../images/air-conditioner.png") no-repeat center;
}

/*--test--*/
.test-top-g {
  text-align: center;
  margin-bottom: 4em;
}

.test-top-g h3 {
  text-align: center;
  margin-bottom: 0.4em;
  font-size: 3em;
  font-weight: bold;
  color: #fff;
}

.test {
  padding: 6em 0;
  background: url("../images/tt.jpg") no-repeat center;
  width: 100%;
  min-height: 402px;
  display: block;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
}

.test-top2 {
  background: #fff;
  padding: 1.5em;
}

.test-top3 {
  background: orange;
  padding: 1.5em;
}

.test-top2 p {
  float: right;
  color: #999;
  font-size: 0.9em;
  line-height: 2em;
  width: 86%;
}

.test-top2 img {
  float: left;
}

.test-top3 img {
  float: left;
  border-radius: 100px;
  width: 20%;
  border: 2px solid #fff;
}

.test-top3 h6 {
  float: right;
  color: #000;
  font-size: 1em;
  line-height: 2em;
  width: 76%;
  margin-top: 1em;
  margin-left: 4%;
  font-style: italic;
}

/*--test--*/
.col-left {
  float: left;
}

.col-left span {
  color: orange;
  font-size: 5em;
  display: block;
  font-weight: 600;
  transform: rotate(-90deg);
}

.col-right {
  float: right;
  width: 72%;
}

.col-right h6 {
  margin: 0;
  font-size: 1.3em;
  color: #000;
}

.col-right p {
  margin: 1.2em 0 0;
  font-size: 0.9em;
  line-height: 1.9em;
  color: #999;
}

.wel h6 {
  font-size: 0.9em;
  color: #999;
  font-style: italic;
}

.wel h2 {
  font-size: 3.2em;
  color: #000;
  font-weight: 900;
  margin: 0.1em 0;
}

.wel p {
  font-size: 0.9em;
  line-height: 1.9em;
  color: #999;
}

.us-col {
  margin-bottom: 2em;
}

/*--//about--*/
/*-- services --*/
.services-list {
  padding: 90px 0;
}

.services-gds {
  margin-top: 55px;
}

.list-gds span {
  color: orange;
  font-size: 0;
  width: 32px;
  height: 32px;
}

.list-gds:nth-child(2),
.list-gds:nth-child(5) {
  border-left: 1px solid orange;
  border-right: 1px solid orange;
}

.list-gds:nth-child(4),
.list-gds:nth-child(5),
.list-gds:nth-child(6) {
  border-top: 1px solid orange;
}

.list-gds p {
  font-size: 14px;
  line-height: 2.2em;
  color: #464646;
}

.list-gds h4 {
  color: #000;
  font-size: 26px;
  margin: 25px 0 27px;
}

.list-gds {
  padding: 60px 16px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.list-gds:hover {
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

#radiator:hover {
  background: url("../images/heating.jpg") no-repeat center;
}

#sewer:hover {
  background: url("../images/sewer.jpg") no-repeat center;
}

#construction:hover {
  background: url("../images/construction6.jpg") no-repeat center;
}

#road_constr:hover {
  background: url("../images/roadconstr.jpg") no-repeat center;
}

#gas:hover {
  background: url("../images/gas.jpg") no-repeat center;
}

#ac:hover {
  background: url("../images/ac.jpg") no-repeat center;
}

.list-gds:hover.list-gds h4 {
  color: #fff;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.list-gds:hover.list-gds p {
  color: #fff;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

/*-- //services --*/
title img {
  height: 100px;
  width: 300px;
}

/*-- Slider Part starts Here --*/
#slider3, #slider4 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}

.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.3), inset 0 0 5px black;
  -moz-box-shadow: 0 0 1px rgba(255, 255, 255, 0.3), inset 0 0 5px black;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.3), inset 0 0 5px black;
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.rslides_tabs li {
  display: inline;
  margin-right: 1px;
}

.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}

.rslides_tabs li:first-child {
  margin-left: 0;
}

.rslides_tabs .rslides_here a {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-weight: bold;
}

.events {
  list-style: none;
}

.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}

.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  left: 0;
  right: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  top: 10%;
  text-align: center;
}

.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  top: 61%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 64px;
  width: 64px;
  margin-top: -65px;
}

.callbacks_nav:active {
  opacity: 1.0;
}

a.callbacks_nav.callbacks1_nav.prev {
  background: transparent url("../images/arrows.png") no-repeat 0px 0px;
  left: 2%;
}

.callbacks_nav.next {
  background: transparent url("../images/arrows1.png") no-repeat 0px 0px;
  left: 95%;
}

#slider3-pager a, #slider4-pager a {
  display: inline-block;
}

#slider3-pager span, #slider4-pager span {
  width: 100px;
  height: 15px;
  background: #fff;
  display: inline-block;
  border-radius: 30em;
  opacity: 0.6;
}

#slider3-pager .rslides_here a, #slider4-pager .rslides_here a {
  background: #fff;
  border-radius: 30em;
  opacity: 1;
}

#slider3-pager a, #slider4-pager a {
  padding: 0;
}

#slider3-pager li, #slider4-pager li {
  display: inline-block;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li {
  position: relative;
  display: block;
}

.callbacks_tabs {
  list-style: none;
  position: absolute;
  top: 87%;
  z-index: 999;
  left: 42.5%;
  padding: 0;
  margin: 0;
}

ul.callbacks_tabs.callbacks2_tabs {
  top: 107%;
  left: 0%;
}

a.callbacks_nav.callbacks2_nav.prev {
  background: transparent url("../images/2.png") no-repeat left top;
  width: 23px;
  height: 23px;
}

a.callbacks_nav.callbacks2_nav.next {
  background: transparent url("../images/2.png") no-repeat -29px 0px;
  width: 23px;
  height: 23px;
}

a.callbacks_nav.callbacks2_nav.prev {
  left: 86% !important;
  top: 9%;
}

a.callbacks_nav.callbacks2_nav.next {
  right: 0% !important;
  top: 9%;
}

/*-- Slider part Ends Here --*/
/*-- contact --*/
.contact {
  padding: 6em 0;
}

.contact a:hover {
  color: black;
}

.faktura {
  color: white;
  font-size: 20px;
}

.contact form {
  margin-top: 6em;
}

.contact h2 {
  font-size: 3em;
  color: #000;
  margin-bottom: 0.5em;
  font-weight: bold;
  text-align: center;
}

.contact-grid1 {
  text-align: center;
}

.con-ic {
  width: 30px;
  height: 30px;
  display: block;
  border: 1px solid orange;
  -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
  -moz-transform: rotate(45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(45deg) translate3d(0, 0, 0);
  -o-transform: rotate(45deg) translate3d(0, 0, 0);
  transform: rotate(45deg) translate3d(0, 0, 0);
  margin: 0 auto;
}

.contact-grid1 i {
  width: 30px;
  height: 30px;
  font-size: 0.9em;
  color: #000;
  -webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
  -moz-transform: rotate(-45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(-45deg) translate3d(0, 0, 0);
  -o-transform: rotate(-45deg) translate3d(0, 0, 0);
  transform: rotate(-45deg) translate3d(0, 0, 0);
  line-height: 1.9em;
}

.contact-grid1 h4 {
  font-size: 1.5em;
  color: #000;
  margin: 1em 0 0.5em;
}

.contact-grid1 p {
  font-size: 1em;
  color: #999;
  line-height: 1.5em;
  margin: 0;
}

.contact-grid1 p a {
  color: #999;
  text-decoration: none;
}

.contact-grid1 p a:hover {
  color: #000;
}

.contact-grid1 p span {
  display: block;
}

.contact-grids {
  margin: 5em 0 0;
}

.contact-form1 h4,
.contact-me h4 {
  font-size: 1em;
  color: #6F6F6F;
  margin: 0 0 0.5em;
}

.contact-form1 {
  padding: 0 1em 0 0;
}

.contact-form {
  padding: 0;
}

.contact-form1 input[type="email"],
.contact-form1 input[type="text"],
.contact-me textarea {
  outline: none;
  padding: 10px;
  border: 1px solid #999;
  background: #ECECEC;
  font-size: 14px;
  color: #999;
  width: 100%;
}

.contact-me textarea {
  min-height: 300px;
}

.contact-me {
  margin-top: 1em;
}

.contact-grids1 input[type="submit"] {
  outline: none;
  padding: 10px 0;
  border: none;
  background: orange;
  font-size: 1em;
  color: #fff;
  width: 100%;
  margin: 1.5em 0 0;
}

.contact-grids1 input[type="submit"]:hover {
  background: #000;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.map iframe {
  width: 100%;
  min-height: 500px;
}

.scrolloff {
  pointer-events: none;
}

/*-- //contact --*/
/*-- contact --*/
.mail_us {
  margin-bottom: 70px;
}

.navbar-default .navbar-nav > li > a.active {
  color: #F2593A !important;
}

.mail_left img {
  width: 100%;
}

.mail_right input[type="email"],
.mail_right input[type="text"],
.mail_right textarea {
  background: none;
  width: 100%;
  color: #A9A8A8;
  padding: 12px 10px;
  border: none;
  margin-bottom: 32px;
  outline: none;
  border-bottom: 2px solid orange;
}

.mail_right textarea {
  height: 200px;
  resize: none;
}

.mail_right input[type="submit"] {
  border: none;
  outline: none;
  color: #fff;
  background: orange;
  font-size: 16px;
  padding: 9px 38px;
}

.mail_right input[type="submit"]:hover {
  background: #F2593A;
}

/*-- contact --*/
/*--footer--*/
.footer {
  background: #232323;
  padding: 5em 0;
}

.footer-bottom h4,
.footer-bottom1 h4 {
  font-size: 2.2em;
  font-weight: bold;
  color: orange;
  margin-bottom: 0.5em;
}

.footer-bottom1 h4 {
  margin-bottom: 1em;
}

.footer-bottom p {
  font-size: 1.4em;
  color: #fff;
  line-height: 1.5em;
  width: 80%;
}

.social li {
  display: inline-block;
}

.social li a {
  margin-top: 20px;
  width: 80px;
  height: 80px;
  display: block;
  border: 1px solid orange;
  -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
  -moz-transform: rotate(45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(45deg) translate3d(0, 0, 0);
  -o-transform: rotate(45deg) translate3d(0, 0, 0);
  transform: rotate(45deg) translate3d(0, 0, 0);
}

.social li a:hover {
  background: orange;
}

.social li a i {
  width: 80px;
  height: 80px;
  display: block;
  background: url(../images/img-spr.png) no-repeat 18px 13px;
  -webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
  -moz-transform: rotate(-45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(-45deg) translate3d(0, 0, 0);
  -o-transform: rotate(-45deg) translate3d(0, 0, 0);
  transform: rotate(-45deg) translate3d(0, 0, 0);
}

.social li a i.icon {
  background: url(../images/img-spr.png) no-repeat -66px 13px;
}

.social li a i.icon1 {
  background: url(../images/img-spr.png) no-repeat -161px 13px;
}

.social li a i.icon2 {
  background: url(../images/img-spr.png) no-repeat -251px 13px;
}

.copy {
  background: #232323;
  padding: 1.5em 0;
}

p.footer-grid {
  font-size: 1em;
  color: #fff;
  text-align: center;
}

p.footer-grid a {
  text-decoration: none;
  color: orange;
}

p.footer-grid a:hover {
  color: #fff;
}

/*--//footer--*/
* {
  margin: 0;
  padding: 0;
}

body,
html {
  background: #fff;
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

body,
html {
  margin: 0;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

p {
  margin: 0;
}

label,
ul {
  margin: 0;
  padding: 0;
}

input[type="button"],
input[type="submit"] {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  text-decoration: none;
}

body a:hover {
  text-decoration: none;
}

.info-text h5 {
  color: #fff;
  font-size: 1.8em;
  border-bottom: 4px double #fff;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.info-text p {
  color: #fff;
  font-size: 0.9em;
  line-height: 2em;
}

/*--typo--*/
.ser-top-c {
  margin-bottom: 6em;
}

.page {
  padding: 5em 0;
}

.page-header h3 {
  font-size: 2.5em;
  color: orange;
  font-weight: bold;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: none;
}

.grid1 {
  margin: 1.5em 0 0;
}

ul.nav.nav-pills {
  margin: 1.5em 0 0;
}

.grid2 {
  margin: 1em 0 0;
}

.form-horizontal .control-label {
  text-align: left;
}

/*--//typo--*/
h3.title {
  color: #000;
  font-size: 35px;
  text-transform: uppercase;
}

h3.title span {
  width: 8%;
  background: #F2593A;
  height: 4px;
  display: block;
  margin-top: 26px;
  position: relative;
}

h3.title span:after {
  content: ' ';
  position: absolute;
  background: #F2593A;
  height: 2px;
  display: block;
  width: 187px;
  top: 4px;
}

.adt_grids {
  margin-top: 50px;
}

.about_left {
  padding: 0;
}

.bottom-gds:nth-child(3),
.bottom-gds:nth-child(4) {
  margin-top: 30px;
}

.creative {
  background: url("../images/pic3.jpg") no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  min-height: 428px;
  padding: 56px 60px 0;
}

.progress {
  height: 8px;
  margin-bottom: 30px;
  overflow: hidden;
  background-color: #ECECEC;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #F2593A;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

.progress-gds {
  margin-top: 18px;
}

.progress-gds h5 {
  color: #fff;
  font-size: 15px;
  margin-bottom: 17px;
}

.creative h4 {
  font-size: 24px;
  color: orange;
  margin-bottom: 26px;
}

.creative p {
  color: #fff;
  font-size: 21px;
  line-height: 1.8em;
  font-style: italic;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container.top {
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*-- to-top --*/
#myBtn {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 28px;
  right: 1%;
  overflow: hidden;
  z-index: 999;
  width: 32px;
  height: 32px;
  border: none;
  text-indent: 100%;
  background: url("../images/arr.png") no-repeat 0 0;
  outline: 0;
}

/*-- //to-top --*/
/*--HEADER--*/
.header {
  width: 100%;
  height: 800px;
  text-align: center;
  left: 0;
  top: 0;
  /* parralax effect */
  background: url("../images/main6.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 640px) {
  .header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    left: 0;
    top: 0;
    background: url("../images/main6.jpg") no-repeat center;
    background-size: cover;
  }
}

.head {
  padding: 1em 0;
  background: rgba(169, 168, 168, 0.34);
  position: relative;
}

/*Sticky menu*/
.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

.navbar-top {
  float: left;
}

.company_logo {
  width: 150px;
  height: 63px;
  margin-left: 80px;
}

.banner h2 {
  font-size: 4em;
  color: #fff;
  -webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
  -moz-transform: rotate(-45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(-45deg) translate3d(0, 0, 0);
  -o-transform: rotate(-45deg) translate3d(0, 0, 0);
  transform: rotate(-45deg) translate3d(0, 0, 0);
  display: block;
  line-height: 1.4em;
  width: 100px;
  height: 100px;
}

.banner p {
  font-size: 0.9em;
  color: #fff;
  line-height: 2em;
  width: 50%;
  margin: 0 auto;
}

.banner span {
  display: block;
  margin: 5em 0;
}

.header1 {
  height: 92px;
}

.banner-text {
  border: 2px solid #fff;
  display: inline-block;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
  -moz-transform: rotate(45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(45deg) translate3d(0, 0, 0);
  -o-transform: rotate(45deg) translate3d(0, 0, 0);
  transform: rotate(45deg) translate3d(0, 0, 0);
}

.banner-t {
  text-align: center;
  margin: 6em auto;
  width: 20%;
  position: relative;
}

.banner-t b {
  width: 100%;
  height: 2px;
  display: block;
  background: orange;
  margin-bottom: 3px;
}

.banner-t b .lin {
  width: 80%;
  margin: 0 auto;
}

.banner-t span {
  width: 40px;
  height: 40px;
  display: block;
  background: #23272a;
  position: absolute;
  top: -7px;
  left: 45%;
}

.banner-t span i {
  width: 20px;
  height: 20px;
  display: block;
  border: 2px solid orange;
  -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
  -moz-transform: rotate(45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(45deg) translate3d(0, 0, 0);
  -o-transform: rotate(45deg) translate3d(0, 0, 0);
  transform: rotate(45deg) translate3d(0, 0, 0);
  margin-left: 0.7em;
}

.logo h1 {
  font-size: 1.8em;
  font-family: 'Montserrat', sans-serif;
}

.logo h1 a {
  text-decoration: none;
  color: #fff;
}

.logo h1 a span {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 2px solid #fff;
  -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
  -moz-transform: rotate(45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(45deg) translate3d(0, 0, 0);
  -o-transform: rotate(45deg) translate3d(0, 0, 0);
  transform: rotate(45deg) translate3d(0, 0, 0);
  margin-right: 12px;
}

.logo h1 a b {
  width: 40px;
  height: 40px;
  display: inline-block;
  -webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
  -moz-transform: rotate(-45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(-45deg) translate3d(0, 0, 0);
  -o-transform: rotate(-45deg) translate3d(0, 0, 0);
  transform: rotate(-45deg) translate3d(0, 0, 0);
  line-height: 1.1em;
  text-align: center;
}

.logo h1 a i {
  display: block;
  font-style: normal;
  margin-left: 3em;
  font-size: 19px;
}

.navbar-brand {
  height: auto;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
}

.navbar-nav {
  float: right;
  margin-top: 1.45em;
}

.header-left {
  float: right;
  margin-top: 1.4em;
}

.header-left ul li {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  margin: 0 1em;
}

.link-effect-4 a {
  padding: 0 10px;
  margin: 0 20px;
  text-shadow: none;
  position: relative;
}

.link-effect-4 a::before {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 0;
  max-height: 0;
  color: orange;
  content: attr(data-hover);
  -webkit-transition: max-height 0.5s;
  -moz-transition: max-height 0.5s;
  transition: max-height 0.5s;
}

.link-effect-4 a:hover::before {
  max-height: 110%;
  color: orange;
}

.header-left ul li a {
  text-decoration: none;
  color: #fff;
}

.header-left ul li a:hover {
  color: orange;
}

.header-left ul li i {
  left: -.5em;
}

.navbar-default {
  border: none;
  background: none;
  min-height: auto;
  margin-bottom: 0;
}

div#bs-example-navbar-collapse-1 {
  padding: 0;
}

ul.nav.navbar-nav li a {
  font-size: 1.1em;
  color: #fff;
  margin: 0 15px;
  padding: 0;
}

.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background: none !important;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}

ul.nav.navbar-nav li.active a {
  color: orange;
  background: none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #fff;
  background: none;
}

@media (max-width: 770px) {
  .navbar-toggle {
    border: none;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border: none;
  }
  ul.nav.navbar-nav li a {
    margin: 7px 0;
    display: inline-block;
    text-align: center;
    width: auto;
    margin-left: 10px;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
  }
  .navbar-toggle .icon-bar {
    width: 27px;
    height: 3px;
  }
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }
  .navbar-top {
    width: 47%;
    margin: 0;
  }
  .navbar-nav {
    margin: 7.5px 0;
  }
  .navbar-nav {
    width: 100%;
  }
  /*----*/
  div#bs-example-navbar-collapse-1 {
    background: rgba(255, 255, 255, 0.34);
    margin: 0;
    padding: 0;
    position: absolute;
    width: 87%;
    z-index: 999;
  }
  ul.nav.navbar-right {
    text-align: center;
  }
  .navbar-right .dropdown-menu {
    min-width: 100%;
    position: relative;
    text-align: center;
  }
  .navbar-toggle .icon-bar {
    background: orange;
  }
  .navbar-toggle {
    margin: 18px 0 0;
    background: none;
  }
  .navbar-nav > li > a {
    width: 25%;
    text-align: center;
    margin: 5px auto;
  }
  div#bs-example-navbar-collapse-1 {
    width: 95.2%;
    margin-top: 1em;
  }
}

@media (max-width: 630px) {
  .header-left li {
    visibility: hidden;
  }
}

@media (max-width: 330px) {
  .head {
    visibility: hidden;
  }
  .head .company_logo {
    visibility: hidden;
  }
}

.job {
  color: #F2593A;
  font-size: 30px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .job {
    visibility: hidden;
  }
}

/*--Projects--*/
.services-content p {
  font-size: 18px;
  color: lightgrey;
  padding-bottom: 8px;
}

.services-content li {
  list-style-type: disc;
  color: grey;
  font-size: 16px;
  line-height: 20px;
}

.services-content hr {
  color: white;
}

.projects_list li {
  color: #A9A8A8;
  line-height: 30px;
}

.ser-top {
  margin-bottom: 8em;
  /*-- agileits --*/
}

.ser-top h3 {
  text-align: center;
  margin-bottom: 0.4em;
  font-size: 3em;
  font-weight: bold;
  color: #000;
}

.ser-t {
  text-align: center;
  margin: 0 auto;
  width: 20%;
  position: relative;
}

.ser-t b {
  width: 100%;
  height: 2px;
  display: block;
  background: orange;
  margin-bottom: 3px;
}

.ser-t b.line {
  width: 80%;
  margin: 0 auto;
}

.ser-t span {
  width: 40px;
  height: 40px;
  display: block;
  background: #fff;
  position: absolute;
  top: -7px;
  left: 42%;
}

.ser-t span i {
  width: 20px;
  height: 20px;
  display: block;
  border: 2px solid orange;
  -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
  -moz-transform: rotate(45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(45deg) translate3d(0, 0, 0);
  -o-transform: rotate(45deg) translate3d(0, 0, 0);
  transform: rotate(45deg) translate3d(0, 0, 0);
  margin-left: 0.7em;
}

.ser-head {
  -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
  -moz-transform: rotate(45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(45deg) translate3d(0, 0, 0);
  -o-transform: rotate(45deg) translate3d(0, 0, 0);
  transform: rotate(45deg) translate3d(0, 0, 0);
  display: inline-block;
  -webkit-transition: -webkit-transform 300ms ease-out;
  -moz-transition: -moz-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  float: left;
  width: 25%;
}

.ser-grid:hover {
  background: orange;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.ser-grid {
  width: 220px;
  height: 220px;
  display: block;
  opacity: 1;
  border: 2px solid orange;
  position: relative;
}

.ser-grid1 {
  transform: rotate(-45deg) translate3d(0, 0, 0);
  -webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
  -moz-transform: rotate(-45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(-45deg) translate3d(0, 0, 0);
  -o-transform: rotate(-45deg) translate3d(0, 0, 0);
  text-align: center;
  position: absolute;
  top: 14%;
  left: 4%;
}

.service {
  padding: 6em 0 8em;
}

.ser-grid1 i {
  font-size: 2em;
  color: #000;
}

.ser-grid1 h3 {
  font-size: 1.8em;
  color: #000;
  margin: 0.4em 0;
}

.ser-grid1 p {
  font-size: 0.9em;
  color: #999;
  line-height: 1.8em;
  margin: 0 0 1em;
  /*-- agileits --*/
}

.ser-grid:hover .ser-grid1 p {
  color: #fff;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

/*--//service--*/
.sap_tabs {
  clear: both;
  padding: 0;
}

.top1 {
  margin-top: 2%;
}

.resp-tabs-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.resp-tab-item {
  margin: 0;
  padding: 21px 20px;
  text-decoration: none;
  color: #A9A8A8;
  cursor: pointer;
  font-size: 17px;
  text-transform: uppercase;
  border-right: 2px solid #6F6F6F;
  display: block;
  list-style: none;
  outline: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-transform: Capitalize;
  font-weight: 100;
  text-align: right;
}

.resp-tab-active,
.resp-tab-item:hover {
  color: orange;
  border-right: 2px solid orange;
}

.resp-tabs-container {
  padding: 0;
  clear: left;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
}

.resp-accordion-active,
.resp-content-active {
  display: block;
}

.services {
  background: #252525;
  padding: 90px 0;
}

.sap_tabs {
  margin-top: 55px;
}

li.resp-tab-item.bath1 {
  background: url("../images/blueprint.png") no-repeat 0 20px;
}

li.resp-tab-item.bath2 {
  background: url("../images/compass.png") no-repeat 0 20px;
}

li.resp-tab-item.bath3 {
  background: url("../images/eco-house.png") no-repeat 0 20px;
}

li.resp-tab-item.bath4 {
  background: url("../images/crane2.png") no-repeat 0 20px;
}

.services h3 {
  color: #fff;
}

.recharge-right {
  padding: 0;
}

.product-right h4 {
  font-size: 24px;
  color: orange;
}

.product-right p {
  font-size: 14px;
  color: #A9A8A8;
  line-height: 2.2em;
  margin-top: 26px;
}

@media (max-width: 770px) {
  .product-right {
    float: none;
    margin-left: 260px;
  }
}

/*-- //products --*/
@media (max-width: 330px) {
  .product-right {
    margin: 0 auto;
    margin-left: 20px;
    padding: 0;
  }
  .product-left {
    visibility: hidden;
  }
  .sap_tabs {
    margin-top: 10px;
  }
  li.resp-tab-item.bath1 {
    background-position: -9999px -9999px;
  }
  li.resp-tab-item.bath2 {
    background-position: -9999px -9999px;
  }
  li.resp-tab-item.bath3 {
    background-position: -9999px -9999px;
  }
  li.resp-tab-item.bath4 {
    background-position: -9999px -9999px;
  }
  .resp-tab-item span {
    padding: 0;
    margin: 0;
  }
}

/*--team--*/
.degree {
  color: #464646;
  font-size: 14px;
}

.team-top {
  -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
  -moz-transform: rotate(45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(45deg) translate3d(0, 0, 0);
  -o-transform: rotate(45deg) translate3d(0, 0, 0);
  transform: rotate(45deg) translate3d(0, 0, 0);
  display: inline-block;
  -webkit-transition: -webkit-transform 300ms ease-out;
  -moz-transition: -moz-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  float: left;
  width: 25%;
}

.team-top1 {
  position: relative;
  width: 220px;
  height: 220px;
  margin: 0;
  display: block;
  overflow: hidden;
  background: #464646;
  border: 2px solid orange;
}

.team-top1 img {
  width: 220px;
  height: 220px;
  -webkit-transform: skew(0deg, 0deg) rotate(-45deg);
  -moz-transform: skew(-20deg, -20deg) rotate(-45deg);
  -ms-transform: skew(-20deg, -20deg) rotate(-45deg);
  -o-transform: skew(-20deg, -20deg) rotate(-45deg);
  transform: skew(0deg, 0deg) rotate(-45deg);
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.team-top1 img:hover {
  opacity: 1;
}

.team {
  padding: 6em 0 8em;
}

.zoom-icon {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
  display: block;
  left: 0;
  top: -152px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.32);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.team-top1 .zoom-icon {
  top: -100px;
  width: 100%;
}

.team-top1 .swipebox:hover .zoom-icon {
  top: 0;
  opacity: 1;
  filter: alpha(opacity=99);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
}

.zoom-icon1 {
  -webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
  -moz-transform: rotate(-45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(-45deg) translate3d(0, 0, 0);
  -o-transform: rotate(-45deg) translate3d(0, 0, 0);
  transform: rotate(-45deg) translate3d(0, 0, 0);
  text-align: center;
  margin: 4em 0 0 3em;
}

.zoom-icon1 {
  -webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
  -moz-transform: rotate(-45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(-45deg) translate3d(0, 0, 0);
  -o-transform: rotate(-45deg) translate3d(0, 0, 0);
  transform: rotate(-45deg) translate3d(0, 0, 0);
  text-align: center;
  margin: 4em 0 0 1em;
}

.zoom-icon1 h5 {
  font-size: 2em;
  color: #464646;
  margin-bottom: 0.5em;
}

.social-ic li {
  display: inline-block;
}

.social-ic li a {
  width: 35px;
  height: 35px;
  display: block;
  background: orange;
  margin: 0 0.5em;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.social-ic li a:hover {
  background: #000;
}

.social-ic li a i {
  width: 35px;
  height: 35px;
  display: block;
  background: url(../images/img-spr.png) no-repeat -2px -90px;
}

.social-ic li a i.ic {
  background: url(../images/img-spr.png) no-repeat -63px -90px;
}

.social-ic li a i.ic1 {
  background: url(../images/img-spr.png) no-repeat -123px -90px;
}

/*--//team--*/
/*-- team --*/
.team_gds {
  margin-top: 60px;
}

.team {
  padding: 90px 0;
  background: url(../images/pic403.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
}

.team_pos {
  position: relative;
  overflow: hidden;
  transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  margin: auto;
}

.team_gd1:hover .team_pos .team_back {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  height: 100%;
}

.team_pos .team_back {
  position: absolute;
  width: 100%;
  background: transparent;
  content: '';
  left: 0;
  top: 0;
  transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  display: block;
}

.team_pos img {
  transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  width: 100%;
}

.team_info {
  position: absolute;
  width: 100%;
  top: 42%;
  text-align: center;
  left: 0;
  z-index: 9999;
}

.team_info a {
  display: inline-block;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  margin-left: 7px;
  transform: scale(0) rotate(180deg);
  -moz-transform: scale(0) rotate(180deg);
  -webkit-transform: scale(0) rotate(180deg);
  -ms-transform: scale(0) rotate(180deg);
  -o-transform: scale(0) rotate(180deg);
  transition: all 0.3s linear 0.2s;
  -moz-transition: all 0.3s linear 0.2s;
  -webkit-transition: all 0.3s linear 0.2s;
  -ms-transition: all 0.3s linear 0.2s;
  -o-transition: all 0.3s linear 0.2s;
}

.team_info a:before {
  content: "";
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  width: 100%;
}

.team_info a i.fc1 {
  background: url(../images/phone24.png) no-repeat center #ffa500;
  width: 45px;
  height: 45px;
  display: inline-block;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.team_info a i.fc2 {
  background: url(../images/mail.png) no-repeat center #F2593A;
  width: 45px;
  height: 45px;
  display: inline-block;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.team_info a i.fc3 {
  background: url(../images/social2.png) no-repeat -80px 1px #dc4e41;
  width: 45px;
  height: 45px;
  display: inline-block;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.team_info a:after {
  content: "";
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s linear 0.1s;
  -moz-transition: all 0.3s linear 0.1s;
  -webkit-transition: all 0.3s linear 0.1s;
  -ms-transition: all 0.3s linear 0.1s;
  -o-transition: all 0.3s linear 0.1s;
  width: 100%;
}

.team_gd1:hover .team_pos img {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
}

.team_gd1:hover .team_info a {
  transform: scale(1) rotate(0deg);
  -moz-transform: scale(1) rotate(0deg);
  -webkit-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  -o-transform: scale(1) rotate(0deg);
}

.team_info a:hover {
  opacity: 0.8;
}

.team_gd1 h4 {
  text-align: center;
  font-size: 20px;
  color: #F2593A;
  margin: 25px 0 15px;
}

.team_gd1 p {
  text-align: center;
  font-size: 14px;
  color: #464646;
}

.team h3 {
  color: #464646;
}

/*-- //team --*/
/*--references--*/
.references {
  padding: 90px 0;
  background-color: white;
}

.references-list {
  list-style: none;
  padding: 0;
  margin-top: 80px;
  margin-bottom: 10px;
  display: block;
}

.references-list li {
  text-align: center;
  display: inline-block;
  margin-left: 20px;
  font-size: 20px;
  color: #464646;
}

.references-list li img {
  vertical-align: middle;
  border: 0;
  padding: 30px;
}

/*-- //references --*/
/*--testimonial--*/
.capabilities h3, .testimonial h3, .team-section h3, .furniture h3, .choose-section h3 {
  font-size: 3em;
  color: #2d3134;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
}

.testimonial {
  padding: 5em 0;
  background: #eee;
}

.testimonial-info p {
  color: #777;
  font-size: 1em;
  line-height: 1.8em;
}

.testimonial-info h5 {
  color: #282828;
  font-size: 1.5em;
  margin: 0.5em 0 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

.testimonial-info p span {
  font-size: 2em;
  color: #222;
}

.testimonial-info {
  margin-top: 2em;
}

.wel-grid p, .text-box p, .testimonial-info p, .works-grid p, .about-at p, .team-grid p, .furniture-grid p, .serce-grid p, .choose-gd p, .cont-info p, .contact-bottom p {
  font-size: 0.96em;
}

.capabilities h3, .testimonial h3, .team-section h3, .furniture h3, .choose-section h3 {
  font-size: 2.8em;
}

.welcome-section, .capabilities, .testimonial, .about-section, .team-section, .furniture, .service-section, .choose-section, .gallery, .pages, .contact {
  padding: 4em 0;
}

.testimonial-grid {
  float: left;
  width: 40%;
}

.testimonial-grid-right {
  float: left;
  width: 60%;
}

.works-grids {
  margin-top: 3em;
}

.works-grid p {
  color: #777;
  font-size: 1em;
  line-height: 1.8em;
  margin-top: 1em;
}

.works-grid img {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.works-grid img:hover {
  box-shadow: 9px 13px 26px -8px #2d3134;
}

/*-- //testimonial --*/

/*# sourceMappingURL=maps/style.css.map */
